/* General Styles */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+RO:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Montserrat", sans-serif;
    min-height: 100vh;
    background: #f2e1c7;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 88px;
    width: 100%;
    position: sticky;
    top: 0;
    background: #902727;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    z-index: 999;
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 2rem;
    max-width: 1600px;
}

.navbar-logo {
    /* font-size: 2rem;
    font-weight: 600; */
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.navbar-container .navbar-menu{
    display: flex;
    text-align: center;
    gap: 1.5rem;
    list-style: none;
}

.navbar-container .navbar-menu li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 3px 20px;
    border-radius: 20px;
    border: 2px solid transparent;
    transition: all 0.7s ease;
    white-space: nowrap;
}

.navbar-container .navbar-menu li a:hover,
.navbar-container .navbar-menu li a.active{
    color: #162530;
    background: #8c2020;
    border: 2px solid #902727;
}
.navbar-toggle {
    display: none;
    background: #902727;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
}

/*responsive*/
@media (max-width: 880px){
    .navbar {
        backdrop-filter: none;
        background-color: #902727;
    }

    /* Memindahkan hamburger bar ke kiri */
    .navbar-container {
        justify-content: flex-start;
        align-items: flex-start;
    }

    /* Mempertahankan logo di tengah */
    .navbar-logo {
        width: 100%;
        text-align: center;
        order: 2;
    }

    .navbar-menu {
        align-items: flex-start;
    }

    .navbar-container .navbar-menu {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.7rem !important;
        position: absolute;
        height: 100vh;
        width: 250px;
        top: 0;
        left: 0;
        padding: 5rem 1.5rem;
        box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(10px);
        
    }

    .navbar-container .navbar-menu.active{
        display: flex;
    }

    .navbar-logo img {
        display: block;
        margin: 0 auto;
    }

    .navbar-toggle {
        display: block;
        z-index: 999;
        order: 1;
    }

    .navbar-toggle.navbar.active .bar:nth-child(2) {
        opacity: 0;
    }

    .navbar-toggle.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .navbar-toggle.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}
    
    .modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 9999;
    }

    .modal-content {
        background-color: #7a2626;
        color: white;
        padding: 20px;
        border-radius: 8px;
        text-align: center;
        width: 50%;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    }

    .close-modal {
        color: white;
        font-size: 24px;
        cursor: pointer;
        float: right;
    }



@media (max-width: 480px){
    .navbar-container {
        padding: 0 1rem;
    }

    .navbar-logo {
        font-size: 1.7rem;
    }

    .navbar-container .navbar-menu li a {
        font-size: 1.3rem;
        padding: 3px 15px;
    }
}