* {
    margin:0;
    padding: 0;
}

body {
  background-color: #f8f6ef;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 40px auto;
  padding: 0 16px;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  align-items: flex-start;
}

.product-card {
  background-color:  #f8f6ef;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 16px;
  width: 240px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: unset;
  position: relative;
  overflow: hidden;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.product-card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 12px;
}

.product-card h3 {
  font-size: 1rem;
  color: #333;
  margin: 0 0 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.product-card p{
    margin: 4px 0;
}

.product-card strong {
  font-size: 0.9rem;
  color: #444;
}

.product-card .description {
  margin-top: 8px;
  font-size: 0.85rem;
  color: #666;
  display: none;
}

.button-row{
  display: block;
  align-items: center;
  gap: 10px;
}

.buy-btn {
  background-color: #9d1d1d;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 0.9rem;
}

.buy-btn i {
  font-size: 1rem;
}

.buy-btn:hover {
  background-color: #bb2c2c;
}

.arrow-icon {
  margin-left: 8px;
  transition: transform 0.2s ease;
}

.descBox {
    max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  margin-top: 6px;
  background: #f9f6ee;
  padding: 0 8px;
  border-radius: 6px;
  font-size: 0.85rem;
  color: #444;
}

.descBox.show{
   max-height: 200px;
    padding: 8px;
}

